<%- include("templates/header") %>
  <link rel="stylesheet" href="/css/style.css">
  <link rel="stylesheet" href="/css/easteregg.css">
  </head>

  <body>
    <%- include("templates/navbar_top") %>

      <div class="page-container">
        <div class="container">
          <div class="box">
            <span class="letter" id="minji">M</span>
            <a class="egg-card" href="/item/Mcdonalds/Sausage,%20Egg%20&%20Cheese%20McGriddle" target="_blank">
              <div class="grid">
                <p class="dev-name">Min Ji</p>
                <img src="/images/EasterEgg/burger.png" alt="Burger">
                <p class="joke">Why did the French fry go to therapy<br><br>It had an identity crisis and couldn't ketchup
                  with it's true self!</p>
              </div>
            </a>
          </div>
          <div class="box">
            <span class="letter" id="iris">I</span>
            <a class="egg-card" href="/item/Mcdonalds/Double%20Quarter%20Pounder%C2%AE%20with%20Cheese" target="_blank">
              <div class="grid">
                <p class="dev-name">Iris</p>
                <img src="/images/EasterEgg/fries.png" alt="Fries">
                <p class="joke">What did the hamburger say to the pickle at the fast food party?<br><br>You're kind of a
                  big Dill!</p>
              </div>
            </a>
          </div>
          <div class="box">
            <span class="letter" id="kalvin">K</span>
            <a class="egg-card" href="/item/Mcdonalds/McDouble" target="_blank">
              <div class="grid">
                <p class="dev-name">Kalvin</p>
                <img src="/images/EasterEgg/pizza.png" alt="Pizza">
                <p class="joke">Why did the hamburger go to the gym?<br><br>Because it wanted to get better buns!</p>
              </div>
            </a>
          </div>
          <div class="box">
            <span class="letter" id="echo">E</span>
            <a class="egg-card" href="/item/Mcdonalds/Double%20Cheeseburger" target="_blank">
              <div class="grid">
                <p class="dev-name">Echo</p>
                <img src="/images/EasterEgg/taco.png" alt="Taco">
                <p class="joke">What do you call a snowman eating a hamburger?<br><br>A Chilli cheeseburger!</p>
              </div>
            </a>
          </div>
        </div>
      </div>
  <%- include('templates/navbar_bottom') %>
<%- include("templates/footer") %>