<%- include("templates/header") %>
<link rel="stylesheet" href="/css/authentication.css">
</head>
<body>
	<div class="auth-form-container">
  <h2>Forgot Password</h2>
  
  </div>

<!-- JS Scripts go here -->
<%- include("templates/footer") %>