<%- include("templates/header") %>
  <link rel="stylesheet" href="/css/authentication.css">
  <link rel="stylesheet" href="/css/formfield.css">

  </head>

  <body>
    <div class="auth-form-container">
      <h2>Password Reset</h2>
      <form class="form" action="/reset_password" method="post">
        <label for="username">
          <input type="text" id="username" name="username" placeholder="Username" required>
        </label>
        <label for="questionIndex">
          <select class="questionIndex" name="questionIndex">
            <% for (var i=0; i<questions.length; i++) { %>
              <option value="<%= i %>">
                <%= questions[i].question %>
              </option>
              <% } %>
          </select>
        </label>
        <label for="answer">
          <input type="text" id="answer" name="answer" placeholder="Response" required>
        </label>
        <label for="password">
          <input type="password" id="password" name="password" placeholder="New Password" required>
        </label>
        <button class="submit-btn" type="submit" href="/update">RESET PASSWORD</button>
      </form>
      <button class="link-btn" onclick="location.href='/login';">
        Back to Login
      </button>
    </div>
    <%- include("templates/footer") %>