<%- include("templates/header") %>
  <link rel="stylesheet" href="/css/index_before_login.css">
  </head>

  <body>
    <div class="container">
      <div class="image-container">
        <img id="logo" src="/images/Logo-white.png" alt="Logo">
      </div>
      <button class="access-btn" onclick="window.location.href='/login'">
        Access
      </button>
    </div>

    <%- include("templates/footer") %>