<%- include("templates/header") %>
</head>
<body>
  <div>
  <h1>Welcome to DriveThruDiet</h1>
  </div>
  <button onclick="window.location.href='/login'"class="submit-btn">
    Access  
  </button>

  <!-- JS Scripts go here -->
<%- include("templates/footer") %>