<%- include("templates/header") %>
  <link rel="stylesheet" href="/css/authentication.css">
  <link rel="stylesheet" href="/css/login.css">
  </head>

  <body>
    <div class="auth-form-container">
      <h2>LOGIN</h2>
      <form class="form" method="post" action="/loggingin" id="loginForm">
        <label class="input-box" for="username">
          <input type="text" placeholder="Username" id="usernameInput" name="username" />
          <a class="forgot-btn" onclick="location.href='/find_username';">
            Forgot
          </a>
        </label>
          <span id="usernameError" class="error-message" style="text-align: left; color: red;"></span>
        <label class="input-box" for="password">
          <input type="password" placeholder="Password" id="passwordInput" name="password" /><a class="forgot-btn"
            onclick="location.href='/forgot';">
            Reset
          </a>
        </label>
          <span id="passwordError" class="error-message" style="text-align: left; color: red;"></span>
        <button class="submit-btn" type="submit">LOGIN</button>
      </form>
      <button class="link-btn" onclick="location.href='/signup';">
        Don't have an account? Register here.
      </button>
    </div>

<%- include("js/login_js") %>
<%- include("templates/footer") %>