<%- include("templates/header") %>
    <main class="form-signin w-25 m-auto">
      <h1 style="color: red">Error</h1>
      <div><%= error %></div>
      <a href="/login">Please try again.</a>
    </main>
<%- include("templates/footer") %>
