</head>
<body>
  <h2>Nutritional Goals</h2>
  <p>Calorie Needs: <%= calorieNeeds %> calories</p>
  <p>Protein: <%= protein %> grams</p>
  <p>Fat: <%= fat %> grams</p>
  <p>Carbs: <%= carbs %> grams</p>