<%- include("templates/header") %>
  <link rel="stylesheet" href="/css/authentication.css">
  </head>
  <body>
    <div class="auth-form-container">
      <h2>Security Questions</h2>
      <form class="form" method="post" action="/security_answers">
        <label for="question1">What is your mother's maiden name?</label>
        <input type="text" id="question1" name="question1" placeholder="Doe" required>
        <label for="question2">What was the name of your first pet?</label>
        <input type="text" id="question2" name="question2" placeholder="Snowball" required>
        <label for="question3">What is your favorite color?</label>
        <input type="text" id="question3" name="question3" placeholder="Blue" required>
        <button class="submit-btn" type="submit">Submit</button>
      </form>
    </div>
    <%- include("templates/footer") %>