<%- include("templates/header") %>
  <link rel="stylesheet" href="/css/authentication.css">
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

  <style>
    .is-invalid {
    border-color: red;
    box-shadow: 0 0 0 0.1rem red;
  }

    .is-invalid.hide {
      display: none;
      visibility: hidden;
    }

    .error-message {
      font-size: 0.8em;
    }
  </style>
  </head>

  <body>
    <div class="auth-form-container">
      <h2>Let's get started!</h2>
      <form class="form" id="signupForm" method="post" action="/submitUser">
        <label for="username">
        <input type="text" placeholder="Username" id="usernameInput" name="username" />
      </label>
        <span id="usernameError" class="error-message" style="text-align: left; color: red;"></span>
        <label for="firstName">
        <input type="text" placeholder="First Name" id="firstNameInput" name="firstName" />
      </label>
        <span id="firstNameError" class="error-message" style="text-align: left; color: red;"></span>
        <label for="lastName">
        <input type="text" placeholder="Last Name" id="lastNameInput" name="lastName" />
      </label>
        <span id="lastNameError" class="error-message" style="text-align: left; color: red;"></span>
        <label for="email">
        <input type="email" placeholder="Email" id="emailInput" name="email" />
      </label>
        <span id="emailError" class="error-message" style="text-align: left; color: red;"></span>
        <label for="birthday">
        <input type="date" placeholder="" id="birthdayInput" name="birthday" />
      </label>
        <span id="birthdayError" class="error-message" style="text-align: left; color: red;"></span>
        <label for="password">
        <input type="password" placeholder="Password" id="password" name="password" />
      </label>
        <span id="passwordError" class="error-message" style="text-align: left; color: red;"></span>
        <button class="submit-btn" type="submit">SIGN UP</button>
      </form>
      <button class="link-btn" onclick="location.href='/login';">Already have an account? Log in.</button>
    </div>

    <script>
    $("#signupForm").on("submit", function (event) {
      event.preventDefault();
      var formData = $(this).serialize();
      $.ajax({
        url: "/submitUser",
        type: "POST",
        data: formData,
        dataType: "json",
        success: function (response) {
          if (response.redirect) {
            window.location.href = response.redirect;
          }
        },
        error: function (xhr, status, error) {
          var errorMessage = xhr.responseJSON.error;
          var errorInput = "";
          if (errorMessage === "Username is required" || errorMessage === "Username is already taken") {
            errorInput = "username";
          } else if (errorMessage === "First Name is required") {
            errorInput = "firstName";
          } else if (errorMessage === "Last Name is required") {
            errorInput = "lastName";
          } else if (errorMessage === "Email is required" || errorMessage === "Email already exists") {
            errorInput = "email";
          } else if (errorMessage === "Birthday is required") {
            errorInput = "birthday";
          } else if (errorMessage === "Password is required") {
            errorInput = "password";
          }
          $("#" + errorInput + "Input").addClass("is-invalid");
          $("#" + errorInput + "Error").text("❗️" + errorMessage);
          $("#" + errorInput + "Error").show();
        },
      });
    });

    $("input" ).on("input", function () {
    var inputId = $(this).attr("id");
    var errorId = inputId.replace("Input", "Error");

    if ($(this).hasClass("is-invalid") && $(this).get(0).checkValidity()) {
      $(this).removeClass("is-invalid");
      $("#" + errorId).hide();
    }
  });
    </script>

    <!-- JS Scripts go here -->
    <%- include("templates/footer") %>