<%- include("templates/header") %>
  <link rel="stylesheet" href="/css/authentication.css">
  <link rel="stylesheet" href="/css/formfield.css">
  </head>

  <body>
    <div class="auth-form-container">
      <h2>Let's get started!</h2>
      <form class="form" method="post" action="/submitUser">
        <label for="username">
          <input type="text" placeholder="Username" id="username" name="username" />
        </label>
        <label for="firstName">
          <input type="text" placeholder="First Name" id="firstName" name="firstName" />
        </label>
        <label for="lastName">
          <input type="text" placeholder="Last Name" id="lastName" name="lastName" />
        </label>
        <label for="email">
          <input type="email" placeholder="Email" id="email" name="email" />
        </label>
        <label for="birthday">
          <input type="date" placeholder="" id="birthday" name="birthday" />
        </label>
        <label for="password">
          <input type="password" placeholder="Password" id="password" name="password" />
        </label>
        <button class="submit-btn" type="submit">SIGN UP</button>
      </form>
      <button class="link-btn" onclick="location.href='/login';">Already have an account? Log in.</button>
    </div>

    <!-- JS Scripts go here -->
    <%- include("templates/footer") %>