<%- include("templates/header") %>
    <main class="form-signin w-25 m-auto">
      <h1 style="color: blue">Update Successful</h1>
      <a href="/login">Return to Login.</a>
    </main>
<%- include("templates/footer") %>
