body {
  display: flex;
  align-items: center;
  justify-content: center;
}

.auth-form-container,
.form {
  display: flex;
  flex-direction: column;
}

.auth-form-container {
  padding: 3em;
  min-width: 250px;
  width: 20vw;
  max-width: 400px;
  margin-left: auto;
  margin-right: auto;
}

button {
  border: none;
  cursor: pointer;
}

.submit-btn {
  border: none;
  background-color: var(--accent);
  color: white;
  padding: 1em;
  border-radius: var(--btnradius);
  cursor: pointer;
  margin: 0.5em auto 0.5em auto;
  width: 65%
}

.submit-btn:hover {
  background-color: var(--medium);
}

.submit-btn:active {
  background-color: var(--dark);
}

.link-btn {
  color: var(--dark);
  background: none;
  text-decoration: underline;
}

.link-btn:hover {
  text-decoration: none;
}

.link-btn:active {
  color: var(--highlight)
}

.questionIndex {
  padding: 1em;
  border: none;
  border-radius: var(--btnradius);
  width: 100%;
}

/* .is-invalid {
  border-color: red;
  box-shadow: 0 0 0 0.1rem red;
} */

.is-invalid.hide {
  display: none;
  visibility: hidden;
}

.error-message {
  font-size: 0.8em;
  margin-bottom: 0.5em;
}