/*The progress ring mainly based on https://dev.to/vaibhavkhulbe/let-s-make-and-wear-those-css-3-progress-rings-2ngf*/

/* Progress ring start */

.rings {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.percent1, .percent2, .percent3, .percent4, svg, circle {
  width: 80px;
  height: 80px;
}

circle {
  position: absolute;
  fill: none;
  stroke-width: 5;
  stroke-dasharray: 220;
  stroke-linecap: round;
}

circle:nth-child(1) {
  stroke-dashoffset: 0;
  stroke: #d4c9c2;
}

.percent1 circle:nth-child(2) {
  stroke-dashoffset: calc(220 - (220 * 75) / 100);
  stroke: #c7c7ff;
  animation: percent 1.5s linear;
  animation-delay: 1s;
}


.percent1 h2 {
  color: #9595ff;
}

.percent2 circle:nth-child(2) {
  stroke-dashoffset: calc(220 - (220 * 75) / 100);
  stroke: #ffd8be;
  animation: percent 1.8s linear;
  animation-delay: 1.2s;
}

.percent2 h2 {
  color: #fca147;
}


.percent3 circle:nth-child(2) {
  stroke-dashoffset: calc(220 - (220 * 75) / 100);
  stroke: #a9ecbf;
  animation: percent 1.8s linear;
  animation-delay: 1.2s;
}

.percent3 h2 {
  color: #42c16e;
}

.percent4 circle:nth-child(2) {
  stroke-dashoffset: calc(220 - (220 * 75) / 100);
  stroke: #f3bbe1;
  animation: percent 1.8s linear;
  animation-delay: 1.2s;
}


.percent4 h2 {
  color: #dc5bb6;
}


.number {
  position: relative;
  bottom: 73px;
  right: 3px;
}

.number h2 {
  font-size: 16px;
}

span {
  font-size: 15px;
  opacity: .7;
}



@keyframes percent {
  0% {
    stroke-dashoffset: 0;
    stroke-width: 0;
  }
}

/* Progress ring end */


ul {
  list-style: none;
}

#nearby {
  display: inline-block;
  align-items: center;
  justify-content: center;
  margin-bottom: 60px;
}


.number, #division1, #division2, #division3, #division4 {
  font-size: small;
}

.list-table {
  width: 100%;
  table-layout: fixed;
  display: contents;
}


.list-table td {
  text-align: left;
  padding: 5px;
}



.map {
  height: 0;
}

.greeting>h2 {
  color: #616161;
  margin-top: 60px;
}

.goals>h2, #nearby>h2 {
  text-align: center;
  color: var(--accent);
  margin-top: 50px;
}

#map {
  height: 400px;
  width: 100%;
}

.material-symbols-outlined {
  font-variation-settings:
    'FILL'0,
    'wght'400,
    'GRAD'0,
    'opsz'48
}

.goals {
  margin-right: 10px;
  margin-left: 10px;
}