body {
  background-color: var(--accent);
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
}

.container{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 80vw;
  max-width: 400px;
}

.image-container{
  width: 100%;
}

#logo{
  width: 100%;
}

.access-btn {
  width: 50%;
  border: 2px solid white;
  background-color: white;
  padding: 1em;
  border-radius: var(--btnradius);
  cursor: pointer;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}

.access-btn:hover {
  background-color: var(--medium);
}

.access-btn:active {
  background-color: var(--dark);
}