.nutrition-container {
  text-align: left;
  display: flex;
  flex-direction: column;
  padding: 40px;
  margin: auto;
  width: auto;
  max-width: 600px;
}

#item-header {
  padding: 0 12px 0 12px;
}

.subheadings {
  display: flex;
  justify-content: space-between;
  font-size: 11pt;
  font-weight: regular;
  color: var(--med-grey);
  margin: 10px 20px 0 20px;
}

#item-restaurant {
  font-size: 12pt;
  font-weight: 400;
  color: var(--med-grey);
}

#item-item {
  color: var(--accent);
  font-size: 24pt;
  font-weight: 900;
  margin: 10px 0 4px 0;
}

#item-calories {
  font-size: 16pt;
  font-weight: bold;
  margin-bottom: 15px;
}

#add-btn {
  width: 110px;
  height: 40px;
  border-radius: 20px;
  border-style: solid;
  border-color: var(--accent);
  background-color: var(--accent);
  color: white;
  font-size: 11pt;
  font-weight: 400;
  margin: 0 5px 20px 0;
}

#compare-btn {
  width: 110px;
  height: 40px;
  border-radius: 20px;
  border-style: solid;
  border-color: var(--accent);
  background-color: white;
  color: var(--accent);
  font-size: 11pt;
  font-weight: 400;
  margin: 0 0 20px 0;
}

.total-bar {
  height: 18px;
  border-style: solid;
  border-width: 2px;
  border-color: var(--accent);
  border-radius: 20px;
  margin: 2px 12px 12px 12px;
}

.white-border {
  height: 14px;
  border-style: solid;
  border-width: 2px;
  border-color: white;
  border-radius: 20px;
  display: flex;
}

#fat-bar {
  height: 14px;
  border-style: none;
  border-color: white;
  border-radius: 20px 0 0 20px;
  background-color: var(--accent);
  animation: animation-bar 1.5s ease-in-out;
}

#carbs-bar {
  height: 14px;
  border-style: none;
  border-color: white;
  background-color: #ff7f96;
  animation: animation-bar 1.5s ease-in-out;
}

#protein-bar {
  height: 14px;
  border-style: none;
  border-color: white;
  border-radius: 0 20px 20px 0;
  background-color: #ffabba;
  animation: animation-bar 1.5s ease-in-out;
}

#item-calorie-composition {
  font-size: 10pt;
  display: flex;
  justify-content: space-evenly;
  color: var(--dark);
  margin-bottom: 10px;
}

.target-bar {
  height: 14px;
  border-style: none;
  border-radius: 20px;
  background-color: var(--calories-text);
  animation: animation-bar 1.5s ease-in-out;
}

@keyframes animation-bar {
  0% {
    width: 0%;
  }
}

#nutrition-value-list {
  margin: 30px 12px 30px 12px;
}

.nutrient-list {
  font-size: 12pt;
  display: flex;
  justify-content: space-between;
  padding: 6px;
  font-weight: 400;
  border-bottom: 1px solid #f1f1f188;
}

.nutrient-list-override {
  font-weight: 300;
}