
header {
  padding-left: 7%;
  text-align: left;
  font-size: 13px;
  font-weight: bold;
}

h1 {
  margin-block-end: 0.5rem;
}

.menu-cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  margin: 20px;
  margin-top: 0;
}

.card {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 420px;
  height: 110px;
  margin: 8px;
  padding: 10px;
  cursor: pointer;
  background-color: var(--card);
  border-radius: var(--radius);
}

.card img {
  width: 80px;
  height: 70px;
  object-fit: cover;
  margin-right: 15px;
  margin-left: 5px;
}

.item-details {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.item-details h2 {
  margin-bottom: 4px;
  text-align: left;
  font-size: 1rem;
  text-align: left;
  align-self: flex-start;
  line-height: 15px;
  margin-top: 1px;
}

.item-details p {
  margin: 0 0;
  text-align: left;
  font-size: 0.8rem;
  line-height: 13px;
}


.add-btn {
  background-color: var(--accent);
  color: white;
  border: 2px solid var(--accent);
  border-radius: var(--btnradius);
  padding: 0.5em 1em;
  cursor: pointer;
  position: relative;
  top: 39px;
  right: 8px;
  margin-left: auto;
}

.placeholder {
  height: 80px;
}

#tray-preview {
  position: fixed;
  bottom: 60px; 
  left: 0;
  right: 0;
  background-color: white;
  padding: 20px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  z-index: 1000; 
  display: flex; 
  flex-direction: column; 
  align-items: center; 
  justify-content: space-between; 
}

#close-btn {
  position: absolute;
  top: 2px;
  right: 2px;
  font-size: 22px;
  background: none;
  border: none;
  font-weight: bold;
  cursor: pointer;
  color:var(--accent);
}

#more-btn {
  background-color: var(--accent);
  color: #f7f7f7;
  border: none;
  padding: 8px 15px; 
  font-size: 15px;
  cursor: pointer;
  border-radius: 5px; 
  transition: background-color 0.3s ease; 
}