body {
    margin: 0;
    font-family: Arial, sans-serif;
  }
  
  header {
    background-color: #444;
    color: white;
    padding: 10px;
    text-align: center;
  }
  
  main {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    margin: 20px;
  }
  
  .card {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 400px;
    height: 150px;
    margin: 20px;
    padding: 10px;
    border: 1px solid #ccc;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
  }
  
  .card img {
    width: 100px;
    height: 100px;
    object-fit: cover;
    margin-right: 10px;
  }
  
  .item-details {
    flex: 1;
  }

  .item-details h2 {
    margin-bottom: 1.5px; 
    text-align: left; 
  }

  .item-details p {
    margin: 0 0; 
    text-align: left;
  }
  
  .add-btn {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
  }
  