body {
  margin-top: 60px;
}

header {
  padding-top: 5%;
  padding-left: 7%;
  text-align: left;
  font-size: 13px;
  font-weight: bold;
}

h1 {
  margin-block-end: 0.5rem;
  margin-block-start: 0rem;
}

#tray-list {
  align-items: center;
  margin-top: 0;
  height: calc(100% - 285px) !important;
  overflow-y: auto;
  display: block !important;
}

.trayCard {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 110px;
  margin: 8px;
  padding: 10px;
  cursor: pointer;
  background-color: var(--card);
  border-radius: var(--radius);
}

.trayCard img {
  width: 80px;
  object-fit: cover;
  margin-right: 15px;
  margin-left: 5px;
}

.item-details {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.item-details h2 {
  margin-bottom: 4px;
  text-align: left;
  font-size: 1rem;
  text-align: left;
  align-self: flex-start;
  line-height: 15px;
  margin-top: 1px;
}

.item-details p {
  margin: 0 0;
  text-align: left;
  font-size: 0.8rem;
  line-height: 13px;
}

.remove-btn {
  background-color: var(--accent);
  color: white;
  border: 2px solid var(--accent);
  border-radius: var(--btnradius);
  padding: 0.5em 1em;
  cursor: pointer;
  position: relative;
  top: 39px;
  right: 8px;
  margin-left: auto;
}

.placeholder {
  height: 80px;
}

#myTrayContents {
  height: calc(100% - 105px) !important;
}

.header-container {
  display: flex;
  justify-content: space-between;
}

#remove-all-btn {
  color: var(--med-gray);
  cursor: pointer;
  margin-right: 2.05rem;
}
