/* ---------- Top NavBar ---------- */
#top-nav-container {
    position: fixed;
    top: 0;
    width: 100%;
    height: 60px;
    background-color: #f7f7f7;
    border-bottom: 1px solid #e9ecef;
    z-index: 100;
    display: flex;
    justify-content: baseline;
    align-items: center;
}

.search-bar-icons {
    width: 25px;
    height: 25px;
    vertical-align: middle;
}

.search-container {
    flex-grow: 1;

}

#search-span {
    position: fixed;
    translate: 35% 25%;
}

#filter-span {
    position: fixed;
    translate: -150% 25%;
}

#nav-search-bar {
    padding: 0.5em 2.4em 0.5em 2.4em;
    border: none;
    border-radius: 50px;
    width: calc(100% - 150px);
    height: 100%;
    font-size: 1.1em;
    box-shadow: 0 0 1px rgba(0, 0, 0, 0.2);
}

#profile-icon {
    margin: 0.3em 0 0 1em;
    width: 42px;
    height: 42px;
}

#tray-icon:hover {
    cursor: pointer;
}

#tray-icon {
    margin: 0.2em 1.2em 0 0;
    width: 47px;
    height: 47px;
}

/* ---------- End of Top NavBar ---------- */



/* ---------- SideBar ---------- */
#sidebar-container {
    background-color: #57B7E5;
    position: fixed;
    right: -350px;
    top: 60px;
    height: calc(100% - 140px);
    width: 350px;
    z-index: 99;
    transition: transform 0.3s ease;
    box-shadow: -2px 0 10px rgba(0, 0, 0, .2);
    transform: translateX(250px);
}

/* ---------- End of SideBar ---------- */



/* ---------- Bottom NavBar ---------- */
#bottom-nav-container {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 80px;
    background-color: #f7f7f7;
    border-top: 1px solid #e9ecef;
    z-index: 100;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.bottom-nav-icons {
    width: 40px;
    height: 40px;
}

/* ---------- End of Bottom NavBar ---------- */



/* ---------- Search Results ---------- */

.search-results-container::-webkit-scrollbar {
    background: transparent;
}

.search-results-container::-webkit-scrollbar-thumb {
    background: #66656418;
    border-radius: 10px;
}

.search-results-container {
    position: fixed;
    top: 60px;
    left: 25px;
    width: calc(100% - 50px);
    height: auto;
    max-height: 75%;
    padding: 5px 0 20px 0;
    background-color: #f7f7f7;
    z-index: 99;
    overflow-y: scroll;
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
    border-radius: 0 0 10px 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, .2);
}

@media (width > 600px) {
    .search-results-container {
        width: calc(100% - 170px);
        left: 85px;
    }
}

.search-results-container > ul {
    width: auto;
    height: 100%;
    text-align: left;
    margin: 0.5em 20px 0 0;
}

.list-item {
    list-style-type: none;
}

.list-item a {
    padding: 0.5em 1em 0.5em 1em;
    border-bottom: 1px solid #e9ecefb9;
    border-radius: 12px;
    display: flex;
    text-decoration: none;
}

.list-item a:visited, a:hover, a:active, a:link {
    color: inherit;
}

#search-results a:hover {
    background-color: #84c3ff28;
    cursor: pointer;
}

.hidden {
    display: none;
}

#search-results-restaurant {
    width: 100px;
    max-width: 100px;
    min-width: 100px;
    color: #666564
}

#search-results-calories {
    font-size: 9pt;
    color: #666564
}