body {
  text-align: center;
  min-height: 100vh;
  align-items: center;
  justify-content: center;
  background-image: linear-gradient(60deg, #f5fafa, #acd1e9 45%, #c1dad6);
}

.submit-btn {
  border: none;
  background-color: white;
  padding: 1em;
  border-radius: 10px;
  cursor: pointer;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}