/* CSS for cards most referenced from https://uiverse.io/alexmaracinaru/pink-tiger-66 */

/* CSS for page layout */
.page-container {
  overflow-y: scroll;
  color: var(--dark);
}

#backbutton {
  color: var(--accent);
  margin-left: 25px;
}

#backbutton:hover {
  color: var(--medium);
}

#backbutton:active {
  color: var(--dark);
}

.logout-btn {
  border: none;
  background-color: transparent;
  padding: 1em;
  border-radius: 10px;
  margin-bottom: 0.5em;
}

.logout-btn:hover {
  color: var(--accent);
}

/* CSS for Nutritional goal grid */
.profile-card {
  width: 254px;
  height: 190px;
  color: white;
  display: inline-grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 5px;
  overflow: visible;
}

.profile-card .item {
  border-radius: 10px;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.item:hover {
  transform: scale(0.95);
  transition: all 0.3s;
}

.item svg {
  width: 40px;
  height: 40px;
  margin-bottom: 7px;
}

.item--1 {
  background: var(--calories);
}

.item--2 {
  background: var(--carbs);
}

.item--3 {
  background: var(--protein);
}

.item--4 {
  background: var(--fat);
}

.quantity {
  font-size: 25px;
  font-weight: 600;
}

.text {
  font-size: 12px;
  font-family: inherit;
  font-weight: 600;
}

.text--1 {
  color: var(--calories-text);
}

.text--2 {
  color: var(--carbs-text);
}

.text--3 {
  color: var(--protein-text);
}

.text--4 {
  color: var(--fat-text);
}

/* CSS for Profile setting form */
label {
  display: inline;
  margin-bottom: 0.5em;
  font-size: 16px;
  color: var(--dark);
}

input,
select {
  border: none;
  font-size: 14px;
  margin-bottom: 1.2em;
  color: var(--dark-grey);
}


h2 {
  color: var(--accent);
  font-weight: bold;
}

#activity {
  width: 60%;
}

.container {
  width: 280px;
  margin: auto;
  text-align: left;
}

.button-container {
  display: flex;
  justify-content: center;
}

.save-btn,
.submit-btn {
  padding: 0.8em;
  margin: 0.5em auto 0.5em auto;
  width: 30%
}

/* Hide Top Navbar items and total nutrition banner */
.search-container,
#tray-icon,
#profile-icon {
  display: none;
}

#tray-banner-container {
  display: none;
}

#tray-count {
  display: none;
}