body {
  overflow: auto;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    font-family: 'Roboto', sans-serif;
    background-image: linear-gradient(60deg, #f5fafa, #acd1e9df 45%, #c1dad6);
  }
  
  header h1 {
    margin: 0;
    margin-left: 1rem;
    color: #616161;
  }
  
  .restaurant-title {
    margin-top: 13%;
  }
  
  .restaurant-images {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-top: 0;
    overflow-y: scroll;
    height: 800px;
  }
  
  .restaurant-images img {
    width: 150px;
    height: 150px;
    margin: 2rem;
  }
  