body {
  overflow: auto;
}

  header {
    padding-top: 8%;
    padding-left: 9%;
    margin-bottom: 0;
    text-align: left;
    font-size: 17px;
    color: #616161;
  }
  
  .restaurant-title {
    margin-top: 13%;
    font-weight: bold;
  }
  
  .restaurant-images {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    overflow-y: scroll;
    height: 800px;
    padding-top: 0;
  }
  
  .restaurant-images img {
    width: 150px;
    height: 150px;
    margin-bottom: 2rem;
    margin-top: 0;
    margin-right: 2.5rem;
    margin-left: 2.5rem;
  }
  