input {
  text-align: left;
  margin-bottom: 0.5em;
  padding: 1em;
  border-radius: var(--btnradius);
  border: 1px solid var(--accent);
  display: flex;
  flex-direction: column;
}

.select_label {
  margin-bottom: 0.5em;
  border: 1px solid var(--accent);
  border-radius: var(--btnradius);
}