:root {
  --accent: #EB4B60;
  --dark: #524E50;
  --medium: #d4c9c2;
  --light: #DAD8D9;
  --highlight: #E7E3E3;
  --btnradius: 50px;
  --radius: 10px;
}

body {
  margin: 0;
  overflow: hidden;
  text-align: center;
  display: block;
  height: 100vh;
  font-family: 'Roboto', sans-serif;
  color: var(--dark)
}

.page-container {
  position: fixed;
  top: 60px;
  width: 100%;
  height: calc(100% - 130px);
}

.page-container {
  position: fixed;
  top: 60px;
  width: 100%;
  height: calc(100% - 130px);
}