:root {
  --accent: #ff385c;
  --accent-light: #ff7f96;
  --accent-lighter: #ffabba;
  --accent-hover: #FFB3C2;
  --dark: #524e50;
  --med-grey: #666564;
  --medium: #d4c9c2;
  --light: #DAD8D9;
  --highlight: #E7E3E3;
  --calories: #c7c7ff;
  --calories-text: rgba(149, 149, 255, 1);
  --carbs: #ffd8be;
  --carbs-text: rgba(252, 161, 71, 1);
  --protein: #a9ecbf;
  --protein-text: rgba(66, 193, 110, 1);
  --fat: #f3bbe1;
  --fat-text: rgba(220, 91, 183, 1);
  --btnradius: 50px;
  --radius: 10px;
}

body {
  margin: 0;
  overflow: hidden;
  text-align: center;
  display: block;
  height: 100vh;
  font-family: 'Roboto', sans-serif;
  color: var(--dark);
}

.page-container {
  position: fixed;
  top: 60px;
  width: 100vw;
  height: calc(100% - 130px);
  overflow-y: scroll;
}

/* Hide the scrollbar */
::-webkit-scrollbar {
  width: 0.01em;
}

/* Track */
::-webkit-scrollbar-track {
  background: transparent;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 0.25em;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

button {
  border: none;
  cursor: pointer;
}

.submit-btn,
.swal2-styled.swal2-confirm {
  color: white;
  border: 2px solid var(--accent) !important;
  background-color: var(--accent) !important;
  border-radius: var(--btnradius) !important;
}

.submit-btn:hover,
.swal2-styled.swal2-confirm:hover {
  border: 2px solid var(--medium) !important;
  background-color: var(--medium) !important;
}

.submit-btn:active,
.swal2-styled.swal2-confirm:active {
  border: 2px solid var(--dark) !important;
  background-color: var(--dark) !important;
}

.save-btn,
.swal2-styled.swal2-cancel {
  border-radius: var(--btnradius) !important;
  border: 2px solid var(--accent) !important;
  background-color: white !important;
  color: var(--accent) !important;
}

.save-btn:hover,
.swal2-styled.swal2-cancel:hover {
  border: 2px solid var(--medium) !important;
  background-color: var(--medium) !important;
  color: white !important;
}

.save-btn:active,
.swal2-styled.swal2-cancel:active {
  border: 2px solid var(--dark) !important;
  background-color: var(--dark) !important;
  color: white !important;
}