<div id="top-nav-container">
  
  <div>
    <a href="/profile"><img src="/images/icon-profile.png" alt="Profile" /></a>
  </div>

  <div>
    <form>
      <input type="text" placeholder="Search" />
    </form>
  </div>

</div>