<div id="top-nav-container">
  
  <!-- Profile icon -->
  <div>
    <a href="/profile"><img src="/images/icon-profile.png" alt="Profile" id="profile-icon"/></a>
  </div>

  <!-- Search Bar -->
  <div class="search-container">
    <form>
      <span id="search-span">
        <img src="/images/icon-search.png" alt="Search" class="search-bar-icons" />
      </span>
      <input id="nav-search-bar" type="text" placeholder="Search" />
      <span id="filter-span">
        <a href="/filter"><img src="/images/icon-filter.png" alt="Search" class="search-bar-icons" /></a>
      </span>
    </form>
  </div>

  <!-- Tray Icon -->
  <div>
    <img onClick=iconToggle() id="tray-icon"/>
  </div>

</div>

<!-- Sidebar -->
<div id="sidebar-container">
  <div> The sidebar is alive :3 </div>
</div>






<!-- Script to toggle the tray icon between open and closed. -->
<script>  
  const image = document.getElementById("tray-icon");
  const sidebar = document.getElementById("sidebar-container");

  console.log("image loaded");
  image.src = "/images/icon-tray.png";
  var toggleState = false;

  // Function to preload images to improve gif-load performance.
  function preLoadImages() {
    var images = [
      "/images/icon-tray-opt.gif",
      "/images/icon-tray-reverse-opt.gif",
    ];
    for (i = 0; i < images.length; i++) {
      var imageObject = new Image();
      imageObject.src = images[i];
    }
  }

  // Toggles the tray icon between open and closed.
  function iconToggle() {
    if (toggleState === false) {
      preLoadImages();
      setTimeout(function () {
        image.src = "/images/icon-tray-opt.gif";
      }, 75);
      sidebarToggle(toggleState);
      toggleState = true;
    } else {
      preLoadImages();
      setTimeout(function () {
        image.src = "/images/icon-tray-reverse-opt.gif";
      }, 75);
      sidebarToggle(toggleState);
      toggleState = false;
    }
  }

  // Toggles the sidebar between open and closed.
  function sidebarToggle(toggleState) {
    if (toggleState === false) {
      sidebar.style.transform = 'translateX(-400px)';
    } else {
      sidebar.style.transform = 'translateX(0px)';
    }
  }


</script>