<div id="top-nav-container">
  
  <div>
    <a href="/profile"><img src="/images/icon-profile.png" alt="Profile" id="profile-icon"/></a>
  </div>

  <div class="search-container">
    <form>
      <span id="search-span">
        <img src="/images/icon-search.png" alt="Search" class="search-bar-icons" />
      </span>
      <input id="nav-search-bar" type="text" placeholder="Search" />
      <span id="filter-span">
        <a href="/filter"><img src="/images/icon-filter.png" alt="Search" class="search-bar-icons" /></a>
      </span>
    </form>
  </div>

  <div>
    <a href="/"><img src="/images/icon-hamburger2.png" alt="Home" id="hamburger-icon"/></a>
  </div>

</div>