<div id="top-nav-container">
  
  <div>
    <a href="/profile"><img src="/images/icon-profile.png" alt="Profile" id="profile-icon"/></a>
  </div>

  <div class="search-container">
    <form>
      <span id="search-span">
        <img src="/images/icon-search.png" alt="Search" class="search-bar-icons" />
      </span>
      <input id="nav-search-bar" type="text" placeholder="Search" />
      <span id="filter-span">
        <a href="/filter"><img src="/images/icon-filter.png" alt="Search" class="search-bar-icons" /></a>
      </span>
    </form>
  </div>

  <div>
    <img onClick=toggle() id="tray-icon"/>
  </div>

</div>

<script>  
  const image = document.getElementById("tray-icon");
  console.log("image loaded");
  image.src = "/images/icon-tray-opt.gif";
  image.src = "/images/icon-tray-reverse-opt.gif";
  image.src = "/images/icon-tray.png";
  var toggleState = false;

  function toggle() {
    if (toggleState === false) {
      image.src = "/images/icon-tray-opt.gif";
      toggleState = true;
    } else {
      image.src = "/images/icon-tray-reverse-opt.gif";
      toggleState = false;
    }
  }
</script>